* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    background-color: #f5f5f5;
}

.container {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    text-align: center;
}

h1 {
    margin-bottom: 15px;
    color: #000000;
}

form label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#message {
    margin-top: 15px;
    font-size: 16px;
    font-weight: bold;
}
.success {
    color: #fff;
    background-color: #4CAF50;
    border-radius: 4px;
    padding: 10px;
}
.error {
    color: #fff;
    background-color: #b80101;
    border-radius: 4px;
    padding: 10px;
}
